.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #F3F3F3;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out;
    transform: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 35px;

    &:hover {
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
        transform: translateY(-5px);
    }

    .favorite {
        position: absolute;
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
        }
    }
    
    .card_title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .card_price_info {
        display: flex;
        justify-content: space-between;

        .card_price {
            display: flex;
            flex-direction: column;
        }
        
        .card_price_text {
            font-size: 13px;
            font-weight: 500;
            opacity: 0.5;
            text-transform: uppercase;
        }
        
        .card_price_sum {
            font-style: 13px;
        }
        
        .card_button {
            background-color: #fff;
            border: none;
            border-radius: 8px;
            width: 32px;
            height: 32px;
            cursor: pointer;

            &:hover {
                transform: translateY(2px);
            }
        }
    }
}





